# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.tar.gz
*.rar

# Keep Gradle wrapper jar checked in
!gradle/wrapper/gradle-wrapper.jar

# Gradle
.gradle/
build/

# IntelliJ Platform Gradle Plugin cache
.intellijPlatform/

# IntelliJ IDEA project files
.idea/
*.iml
*.iws
*.ipr
out/

# Mac
.DS_Store

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
